/* this is a reuseable component library which you can use for all your projects.  just include the css is your main html and you can start reusing the classes */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* root styles */

:root {
  font-size: 16px;
  --heading-font: "Montserrat";
  --text-font: "Courier New";
  --main-color: #4338ca;
  --secondary-color: #e0dff7;
  --ascent-color: #419ddf;
  --length-sm1: 0.25rem; /*small length*/
  --length-sm2: 0.5rem;
  --length-sm3: 0.75rem;
  --length-md1: 1rem; /*medium length*/
  --length-md2: 1.23rem;
  --length-md3: 1.5rem;
  --length-lg1: 2rem; /*large length*/
  --length-lg2: 3rem;
  --length-lg3: 4rem;
  --space-1: 0.5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */
  --space-5: 2.5rem; /* 40px */
  --space-6: 3rem; /* 48px */
}

/*css resets */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: var(--main-color);
}
ul {
  list-style-type: none;

}

li{
  max-width: 70%;
}

/* global style */

html,
body {
  font-family: var(--text-font), sans-serif;
}
h1,
h2 {
  text-align: center;
  font-family: var(--heading-font), Courier;
  /* font-size: var(--length-lg3); */
  color: var(--main-color);
}

h3,
h4 {
  text-align: center;
  font-family: var(--heading-font), Courier;
  /* font-size: var(--length-lg2); */
  color: var(--main-color);
}

h5,
h6 {
  text-align: center;
  font-family: var(--heading-font), Courier;
  /* font-size: var(--length-lg1); */
  color: var(--main-color);
}

/* p{
    color: var(--main-color);
} */

.main--section {
  border-bottom: 2px solid rgb(48, 46, 46);
  margin: var(--space-2);
}
/* text styles */
.text--color__primary {
  color: var(--main-color);
}

.text--color__secondary {
  color: var(--secondary-color);
}

/* section styles */

.primary--section {
  margin: var(--space-2);
  border-radius: 5px;
  padding: var(--space-2);
  /* color: var(--main-color); */
  background-color: var(--secondary-color);
}

.alternate--section {
  padding: var(--space-2);
  margin: var(--space-2);
  border-radius: 5px;
  /* color: var(--secondary-color); */
  background-color: var(--main-color);
}

/* avatar component */
figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 1rem;
}

.avatar h2 {
  text-align: center;
}

/* alerts */

.alert{
  padding: 0.7rem;
  max-width: 70%;
  margin: 1rem auto;
  border-radius: 3px;
}
.primary--alert {
  border: 2px dotted var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
 
}

.secondary--alert {
  border: 2px dotted var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--main-color);
  
}

.success--alert {
  border: 2px dotted #8abea7;
  background-color: #d1e7dd;
  
}

.danger--alert {
  border: 2px dotted #ee9199;
  background-color: #e2bfc2;
 
}

.info--alert {
  border: 2px dotted #5fa5bb;
  background-color: #b1ccd4;
  
}
.light--alert {
  border: 1px dotted rgba(0, 0, 0, 0.253);
  background-color: whitesmoke;
 
}

.dark--alert {
  border: 1px dotted whitesmoke;
  background-color: rgba(0, 0, 0, 0.829);
  color: whitesmoke;
 
}

/* badges */
.badge {
  margin: 1rem;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: var(--space-1);
  margin: 0.4rem auto;
}

.primary--badge {
  
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.secondary--badge {
  border: 1px solid var(--main-color);
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.alternate--badge {
  background-color: var(--ascent-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.dark--badge {
  background-color: rgba(58, 54, 54, 0.849);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.icon--badge {
  border: 2px solid red;
  height: 10px;
  width: 10px;
  padding: 0.3em;
  font-size: 0.6em;
  position: relative;
  /* top:-20px; */
  /* background-color: rgb(91, 184, 88); */
  border-radius: 50%;
  /* border: 2px solid rgb(211, 207, 207); */
  /* left:-47px; */
}

.icon--badge--avatar {
  /* height: 10px;
    width: 10px; */
  /* border-radius: 50%; */
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  border: 2px solid red;
}
/* buttons */

.button {
  border: none;
  padding: var(--space-1) var(--space-2);
  margin: var(--space-2);
  border-radius: 5px;
  transition: transform 0.3s linear;
}
.primary--button {
  background-color: var(--ascent-color);
}

.primary--button:active {
  transform: scale(0.95);
}

.secondary--button {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.secondary--button:active {
  transform: scale(0.95);
}
/* .link--button{
    display: inline-block;
    appearance: button;
    border: 2px solid var(--main-color);
} */

/* .fa{
    border: none;
    background-color: orange;
    height: 50px;
    width: 50px; 
    /* padding:0;
    margin:0;  
}
 */

#icon--button {
  color: var(--main-color);
  font-size: 30px;
}

.floating--button {
  position: relative;
  box-shadow: 9px 9px 14px -6px #251f6d;
  border-radius: 50%;
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  background-color: var(--main-color);
}

/* card styles */
.card {
  position: relative;
  border-radius: 5px;
  margin: var(--space-2);
  width: 15rem;
  height: 300px;
  background-color: var(--secondary-color);
}

.card--top {
  padding: var(--space-1);
  /* height: 100%; */
}
.card--top img {
  object-fit: contain;
  height: auto;
  max-width: 100%;
}

.card--bottom {
  height: 20%;
  padding: var(--space-2);
}

.card--badge {
  border-radius: 5px;
  padding: var(--space-1);
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--ascent-color);
  color: whitesmoke;
}

.card--dismiss {
  border: none;
  font-size: 1rem;
  color: whitesmoke;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card--overlay {
   
  /* padding: var(--space-2); */
  height: 300px;
  width: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
.card--overlay > img{
  border-radius: 5px;
  object-fit: fill;
  max-width: 100%;
  height: 100%;
 
}

.card--overlay__text {
  padding: var(--space-2);
      position: absolute;
  color: whitesmoke;
  font-weight: bolder;

}

.card--text--only{
  color: var(--main-color);
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-1);
  box-shadow: 5px 5px 14px 2px var(--main-color);
}

.card--text--only button{
  color: var(--main-color); 
}


/* image styles   */

.rounded--image{
  margin:  var(--space-1);
}

.rounded--image img{
  border-radius: 50%;
  object-fit: cover;
  height: auto;
  max-width: 50%;
}

.responsive--image{
  margin: var(--space-2);
}

.responsive--image img{
  object-fit: cover;
  height: auto;
  max-width: 90%;
}

/* input styles */
.input{
  outline: none;
  border: none;
  padding: var(--space-1) var(--space-2);
  margin: var(--space-2);
  text-align: center;
  caret-color: var(--main-color);
  
}
.standard--input{
  border-bottom: 2px solid rgb(119, 117, 117);
  padding: var(--space-1) var(--space-2);
  margin: var(--space-2);
  transition: border-bottom 0.3s linear;
 
}

.standard--input:focus{
  border-bottom: 2px solid var(--main-color);
}
   
.filled--input{

background-color: var(--secondary-color);
 border-radius: 5px;
 border: 2px solid var(--main-color);
 border-radius: 5px;
}

.outline--input{
  caret-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.error{
  border: 2px solid rgb(238, 25, 25);
}

.success{
  border: 2px solid rgb(20, 170, 20);
}



/* list styles */
.standard--list li{
  padding:var(--space-1);
  /* border: 1px solid black; */
  margin: var(--space-2);
}


.standard--list li:hover{
  background-color: var(--main-color);
}
.stacked--list{
  margin: var(--space-2);
}
.stacked--list li{
  border: 1px solid #D1D5DB;
  padding: var(--space-2);
}

/* navbar styles */
nav{
  margin: var(--space-2) 0;
  padding: var(--space-1);
  background-color: var(--main-color);
  border-radius: 3px;
}

.nav--list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav--items{
  padding: var(--space-1);
}

.nav--items a{
  font-family: var(--heading-font);
  text-transform: uppercase;
  color: var(--secondary-color);
  transition: border-bottom 0.1s linear;
}


.nav--items:hover a{
  border-bottom: 2px solid var(--secondary-color);
  font-size: 1rem;
  font-weight: bold;
}